@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #444;
    color: whitesmoke;
}
header {
    background-color: #222;
    padding: 30px 0px;
    width: 100vw;
    position: fixed;
    top: 0;
}
span {
    font-size: 40px;
    color: #D7F205;
}
header > h1 {
    text-align: center;
}
img {
    width: 740px;
}
main {
    width: 800px;
    margin: 150px auto;
    background-color: #222;
    padding: 30px 30px;
    border-radius: 10px;
}
main > article > h2 {
    color: #D7F205;
    padding: 20px 0px;
}
h3 {
    color: #D7F205;
    padding: 20px 0px; 
}
.link-interno {
    color: #D7F205;
}
p {
    text-align: justify;
}
.aprendidas {
    background-color: #D7F205;
    padding: 20px;
    border-radius: 10px;
}
.aprendidas > h4 {
    color: #222;
    text-align: center;
    padding-bottom: 20px;
}
.aprendidas > ul {
    display: flex;
    justify-content: space-around;

}
.aprendidas > ul > li {
    list-style-type: none;
    padding: 20px 0px;
}
.aprendidas > ul > li > a {
    color: #222;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
}
.aprendidas > ul > li > a:hover {
    background-color: #222;
    color: #D7F205;
}
.aprendidas > ul > li > a:active {
    box-shadow: 0px 0px 10px black
}
.futuro {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.futuro > h4 {
    color: #D7F205;
    text-align: center;
    padding-bottom: 20px;
}
.futuro > ul {
    display: flex;
    justify-content: space-around;
}
.futuro > ul > li {
    list-style-type: none;
    padding: 20px 0px;
}
.futuro > ul > li > a {
    color: #D7F205;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
}
.futuro > ul > li > a:hover {
    background-color: #D7F205;
    color: #222;
}
.futuro > ul > li > a:active {
    box-shadow: 0px 0px 10px #D7F205
}
footer {
    background-color: #222;
    padding: 30px 0px;
}
footer > p {
    text-align: center;
    font-style: italic;
}
strong {
    color: #D7F205;
}
strong:hover {
    background-color: #D7F205;
    color: #222;
    transition-duration: 1ms;
}